* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cinzel", serif;
}

body {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  line-height: 1.6;
}

nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #2d2d2e;
  padding: 1em;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #e91e63;
}

/* Special logo/text left-aligned */
nav .c {
  font-size: 1.8em;
  color: #00ffcc;
  margin-left: 150px;
  margin-right: 100px;
  font-family: "Orbitron", sans-serif;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  padding: 40px;
  gap: 40px;
  justify-content: center;
}

.skills-left {
  flex: 1 1 600px;
  max-width: 700px;
}

.skills-left h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #d4af37;
}

.skill-item {
  margin-bottom: 20px;
}

.skill-item h2 {
  border: 2px solid #d4af37;
  padding: 12px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  background: transparent;
  color: #000000;
  transition: all 0.3s ease;
}

.skill-item h2:hover {
  background-color: #d4af37;
  font-size: 22px;
  color: #000000;
}

.skill-item p {
  display: none;
  margin-top: 10px;
  padding-left: 10px;
  border-left: 3px solid #d4af37;
  line-height: 1.6;
  font-size: 16px;
  transition: all 0.3s ease;
  opacity: 0;
  transition: opacity 0.3s ease;
  height: 0;
  overflow: hidden;
}

/* This makes the paragraph appear when the entire skill item is hovered */
.skill-item:hover p {
  display: block;
}



.skills-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills-right img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(212, 175, 55, 0.4);
}

.cta-btn {
  display: inline-block;
  background-color: lime;
  color: black;
  padding: 12px 24px;
  border-radius: 30px;
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s ease;
}
.cta-btn:hover {
  background-color: #c8ff00;
  transform: scale(1.05);
}
 a.ce{
  color: #1e90ff; /* Better blue for readability */
  text-decoration: underline;
  font-weight: bold;
  display: inline-block;
  margin-top: 5px;
}
.skill-item p a.ce:hover {
  color: #0047ab; /* Darker blue on hover */
}
footer {
  margin-top: 2em;
  text-align: center;
  color: #2d2d2e;
  margin-bottom: 20px;
}

footer span {
  color: #00ffcc;
}

/* Responsive */
@media (max-width: 768px) {
  .name {
    font-size: 3rem;
  }

  .photo-box {
    margin-top: -100px;
  }

  .photo-box img {
    width: 150px;
  }
}